:root {
    --gap-small: 6px;
    --gap-medium: 20px;
    --gap-large: 32px;
    --gap-wide: 72px;
    --border-radius-small: 4px;
    --border-radius-medium: 10px;
    --accent: rgb(238, 76, 47);
    --accent-shadow: rgb(216, 61, 33);
    --danger: rgb(212, 33, 1);
    --lightest-grey: #f3f3f3;
    --light-grey: #e8e8eb;
    --medium-grey: #dddde3;
    --extra-medium-grey: rgb(144, 146, 156);
    --dark-grey: rgb(118, 119, 124);
    --almost-black: rgb(17, 16, 16);
    --font-size-1: 12.5px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 19px;
    --font-size-5: 23px;
    --font-size-title: 32px;
    --button-width-primary: 172px;
    --box-shadow-accent: 5px 5px var(--accent-shadow);
    --box-shadow-accent-button-clicked: 2px 2px var(--accent-shadow);
    --box-shadow-danger: 5px 5px var(--danger);
    --box-shadow-accent-small: 3px 3px var(--accent-shadow);
    --box-shadow-danger-button-clicked: 2px 2px var(--danger);
    --box-shadow-neutral: 5px 5px var(--medium-grey);
    --box-shadow-neutral-button-clicked: 2px 2px var(--medium-grey);
    --box-shadow-neutral-small: 3px 3px var(--medium-grey);
    --box-shadow-subtle: 5px 5px var(--light-grey);
    --box-shadow-subtle-small: 3px 3px var(--light-grey);
    --transform-button-clicked: translateX(3px) translateY(3px);
    --border-width-1: 1px;
    --border-width-2: 4px;
    --border-width-3: 7px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--almost-black);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
}

h1 {
    margin: 0;
    letter-spacing: -2.5px;
}

h2,
#name {
    margin-bottom: 0.75em;
    font-family: Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1%;
    font-size: var(--font-size-5);
}

h3,
legend,
label {
    display: block;
    color: var(--dark-grey);
    font-size: var(--font-size-4);
}

fieldset {
    display: grid;
    grid-row-gap: var(--gap-small);
    grid-column-gap: var(--gap-small);
    border: none;
    margin-top: 20px;
    padding: 0;
}

fieldset:last-child {
    margin-bottom: 0;
}

fieldset > input {
    margin-bottom: 0;
}

legend {
    margin-bottom: 10px;
}

input,
textarea,
button,
.label-button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    letter-spacing: 1%;
    border-radius: var(--border-radius-medium);
}

input,
textarea {
    font-size: var(--font-size-3);
    border: var(--border-width-1) solid var(--light-grey);
    box-shadow: var(--box-shadow-subtle-small);
}

input {
    padding: 0.6em 0.6em 0.5em 0.9em;
    height: 2.6em;
}

textarea {
    resize: none;
    padding: 0.9em;
    line-height: 1.25em;
}

button,
.label-button {
    border-width: var(--border-width-1);
    border-style: solid;
    border-radius: var(--border-radius-medium);
    text-align: center;
    cursor: pointer;
}

button {
    text-align: center;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

ul,
ol,
p {
    margin-top: 0;
}

li {
    margin-bottom: 0.5em;
}

/* Header styles */

#logo-container {
    display: flex;
    justify-content: baseline;
}

#logo {
    font-size: var(--font-size-title);
    margin-right: 0.1em;
}

/* Modal styles */

.modal-outer {
    display: grid;
    /* grid-template-columns: auto 0.8fr auto; */
    background: hsla(0, 3%, 12%, 0.602);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    width: 56vw;
    grid-column: 2 / 3;
    min-height: 200px;
    max-width: 800px;
    padding: 2rem;
    box-shadow: var(--box-shadow-neutral);
    border-radius: var(--border-radius-medium);
    background: var(--lightest-grey);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 40px;
}

.modal-actions button {
    height: 56px;
    width: var(--button-width-primary);
}

.button-primary,
.button-secondary {
    border-color: var(--accent-shadow);
    box-shadow: var(--box-shadow-accent);
}

.button-primary {
    background-color: var(--accent);
    color: white;
    font-weight: 600;
}

.button-secondary {
    background-color: var(--light-grey);
    color: var(--accent-shadow);
}

.button-neutral,
.button-deemphasize {
    border-color: var(--medium-grey);
    background-color: var(--light-grey);
    box-shadow: 5px 7px var(--medium-grey);
    color: var(--dark-grey);
}

.button-danger {
    border-color: var(--danger);
    box-shadow: var(--box-shadow-danger);
    background-color: rgba(231, 36, 2, 0.103);
    color: var(--danger);
}

.button-primary:active,
.button-secondary:active,
.button-neutral:active,
.button-deemphasize:active,
.button-danger:active {
    transform: var(--transform-button-clicked);
}

.button-primary:active,
.button-secondary:active {
    box-shadow: var(--box-shadow-accent-button-clicked);
}

.button-neutral:active,
.button-deemphasize:active {
    box-shadow: var(--box-shadow-neutral-button-clicked);
}

.button-danger:active {
    box-shadow: var(--box-shadow-danger-button-clicked);
}

/* "Create +" button styles */

#add-recipe {
    display: inline-flex;
    width: var(--button-width-primary);
    height: 64px;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 1em 1.4em;
    color: white;
    font-size: var(--font-size-4);
    line-height: 1.2em;
}

#add-recipe .button-icon {
    width: 24px;
    margin-left: 6px;
}

#add-recipe:active {
    box-shadow: var(--box-shadow-accent-button-clicked);
    transform: var(--transform-button-clicked);
}

/* Recipe form styles */

#add-update-recipe {
    display: grid;
    grid-gap: var(--gap-small);
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper .remove-input {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 100%;
    background-color: var(--lightest-grey);
    border: 1px solid var(--light-grey);
    border-radius: 0px var(--border-radius-medium) var(--border-radius-medium) 0;
    color: var(--extra-medium-grey);
}

.two-column {
    display: grid;
    grid-gap: var(--gap-large);
    margin-top: 20px;
    align-items: start;
}

.two-column input {
    width: 100%;
}

.two-column.main-left {
    grid-template-columns: 2fr 1fr;
}

.two-column.main-right {
    grid-template-columns: 1fr 2fr;
}

.description-container {
    display: flex;
    flex-direction: column;
    grid-template-rows: 24px 1fr;
    row-gap: var(--gap-small);
    justify-content: stretch;
    height: 100%;
    /* padding-right: 24px; */
}

.description-container textarea {
    flex-grow: 1;
}

.img-upload {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-small);
}

.img-upload h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 0;
}

.img-upload img {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-color: var(--medium-grey);
    border: none;
    border-radius: var(--border-radius-medium);
}

#img-upload-actions {
    display: flex;
    flex-direction: row;
    column-gap: var(--gap-small);
    padding: 0px 3px 3px 0px;
}

#img-upload-actions button,
#img-upload-actions .label-button {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-1);
}

/* #img-upload-actions button:not(:disabled),
#img-upload-actions .label-button {
    cursor: pointer;
} */

#img-upload-actions button:active,
#img-upload-actions .label-button:active {
    box-shadow: none;
}

#img-upload-actions button {
    box-shadow: var(--box-shadow-neutral-small);
    flex-grow: 1;
}

#img-upload-actions .label-button {
    box-shadow: var(--box-shadow-accent-small);
    flex-grow: 3.5;
    margin-right: var(--gap-small);
}

#img-upload-actions button:disabled {
    color: var(--extra-medium-grey);
}

/* #ingredients {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
} */

/* Recipe styles */

.recipe section {
    margin-top: 32px;
}

.recipe img {
    width: 33%;
    float: right;
    margin: 0 0 20px 20px;
    border-radius: var(--border-radius-medium);
}

.recipe .recipe-ingredients {
    padding-left: 40px;
}

.recipe .modal-actions {
    justify-content: space-between;
}

/* Main content area styles */

.container {
    margin: 20px;
}

#recipe-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: var(--gap-medium);
}

/* Recipe card styles */
.recipe-card {
    position: relative;
    box-shadow: var(--box-shadow-neutral);
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-medium) var(--border-radius-medium)
        var(--border-radius-small) var(--border-radius-small);
}

.recipe-card .img-container {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--lightest-grey);
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
}

.recipe-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
}

.recipe-card img.placeholder {
    width: 50px;
    height: 50px;
}

.recipe-card-header {
    display: flex;
    justify-content: space-between;
}

.recipe-card-body {
    position: relative;
    padding: 48px 20px 20px 20px;
    border-top: 1px solid var(--light-grey);
}

.recipe-card-body::before {
    content: '';
    position: absolute;
    top: 19px;
    width: 40px;
    height: var(--border-width-2);
    background-color: var(--accent);
}

.recipe-ingredients {
    padding: 0;
    font-size: var(--font-size-1);
}

.recipe-card .recipe-ingredients > li {
    display: inline-block;
    list-style-type: none;
    padding: 0.5em;
    margin-right: var(--gap-small);
    background-color: var(--lightest-grey);
    border-radius: var(--border-radius-small);
}

.see-options {
    position: absolute;
    top: -48px;
    right: -8px;
    box-sizing: border-box;
    width: 40px;
    padding: 8px;
    margin-left: 10px;
    box-shadow: none;
    border: none;
    border-radius: var(--border-radius-small);
}

.options-dropdown {
    position: relative;
    display: inline-block;
}

.options {
    display: none;
    position: absolute;
    top: -10px;
    right: 0;
    min-width: 148px;
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-subtle);
    z-index: 1;
    background-color: white;
}

.options.show {
    display: block;
}

.options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.options a:hover {
    background-color: var(--lightest-grey);
}

.read-more {
    display: inline-block;
    position: absolute;
    bottom: 6px;
    right: 20px;
    font-size: var(--font-size-1);
    text-decoration: none;
    padding-bottom: 3px;
}

.read-more,
.read-more:visited {
    color: var(--extra-medium-grey);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html {
    visibility: visible;
    opacity: 1;
}
